<h1>Транспорт:</h1>
<h2 *ngIf="transports && !transports.length">У вас нет транспорта</h2>
<mat-spinner [diameter]="40" *ngIf="!transports"></mat-spinner>
<div>
  <table mat-table [dataSource]="transports" [hidden]="!transports || !transports.length">
    <ng-container matColumnDef="transport_number">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('transport_number')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.transport_number}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('model')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="registration_date">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('registration_date')}} </th>
      <td mat-cell *matCellDef="let element"> <span
          *ngIf="element.registration_date">{{element.registration_date.seconds * 1000 | date:'dd.MM.yyyy'}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('color')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.color}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" mat-icon-button (click)="openEditor(element)" *ngIf="afAuth.user | async as user"
          [hidden]="user?.uid == null || user?.uid != '8G6TPHuF7OYFxFsR7OSlCTmfuLk1'">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
<button mat-raised-button type="button" color="primary" (click)="openEditor()" *ngIf="afAuth.user | async as user"
  [hidden]="user?.uid == null || user?.uid != '8G6TPHuF7OYFxFsR7OSlCTmfuLk1'">Добавить транспорт</button>