mat-card {
    margin: auto;
    max-width: 400px;
    padding: 0;
}

mat-card-content {
    padding: 0 15px;
    margin-bottom: 0;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    flex-direction: column;
    align-items: center;
}

.loginButton {
    font-size: 16px;
    flex: 0.5;
    margin-bottom: 20px !important;
    max-width: 242px;
}

/* background styles */

:host {
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 64px;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}