<h1>Отправители:</h1>
<h2 *ngIf="senders && !senders.length">У вас нет отправителей</h2>
<mat-spinner [diameter]="40" *ngIf="!senders"></mat-spinner>
<div>
  <table mat-table [dataSource]="senders" [hidden]="!senders || !senders.length">
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('firstname')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('lastname')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <ng-container matColumnDef="middlename">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('middlename')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.middlename}} </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('birthdate')}} </th>
      <td mat-cell *matCellDef="let element"> <span
          *ngIf="element.birthdate">{{element.birthdate.seconds * 1000 | date:'dd.MM.yyyy'}}</span> </td>
    </ng-container>

    <ng-container matColumnDef="postcode">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('postcode')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.postcode}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('city')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.city}} </td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('street')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.street}} </td>
    </ng-container>

    <ng-container matColumnDef="house">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('house')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.house}} </td>
    </ng-container>

    <ng-container matColumnDef="appartment">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('appartment')}} </th>
      <td mat-cell *matCellDef="let element"> {{element.appartment}} </td>
    </ng-container>

    <ng-container matColumnDef="mobilephone">
      <th mat-header-cell *matHeaderCellDef> {{translateTableHeader('mobilephone')}} </th>
      <td mat-cell *matCellDef="let element"> <span *ngIf="element.mobilephone">+</span>{{element.mobilephone}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button type="button" mat-icon-button (click)="openEditor(element)" *ngIf="afAuth.user | async as user"
          [hidden]="user?.uid == null || user?.uid != '8G6TPHuF7OYFxFsR7OSlCTmfuLk1'">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
<button mat-raised-button type="button" color="primary" (click)="openEditor()" *ngIf="afAuth.user | async as user"
  [hidden]="user?.uid == null || user?.uid != '8G6TPHuF7OYFxFsR7OSlCTmfuLk1'">Добавить отправителя</button>