/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
    height: 100%;
}

body {
    margin: 0 !important;
    height: 100%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

[hidden] {
    display: none !important;
}

.overflow-x-auto {
    overflow-x: auto;
}

.mat-cell, .mat-header-cell {
    padding-right: 10px !important;
}

.mat-form-field:not(.mat-paginator-page-size-select) {
    min-width: 250px;
}

button.mat-raised-button {
    margin: 15px;
}

.mat-dialog-container {
    max-height: 100vh !important;
}

mat-spinner {
    display: block;
    margin: 15px auto;
}