<h1>Заказы:</h1>
<h2 *ngIf="!leads || !leads.length">Заказов пока что нет(</h2>
<mat-table [dataSource]="leads">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let lead"> {{lead.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let lead"> {{lead.description}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div style="margin: 20px 0; display: flex; align-items: center;">
  <mat-form-field appearance="outline">
    <mat-label>Название заказа</mat-label>
    <input matInput [(ngModel)]="nameForAdd">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Описание</mat-label>
    <input matInput [(ngModel)]="descriptionForAdd">
  </mat-form-field>
  <button type="button" mat-raised-button color="primary" (click)="addLead()">Добавить заказ</button>
</div>